<div class="container">
  <div class="row">
    <div class="col-sm-8 usecase-header"></div>
    <h2 class="usecase-title">Industry service as a REST API</h2>
    <p class="lead usecase-description">Industry IT expose APIs to grow their mobile and digital presence</p>
  </div>

  <div class="row">
    <!-- /.usecase-main -->
    <div class="alert alert-info" role="alert">
      <p>Before to test the API, you need to create and deploy it with this tutorial
        <a href="https://github.com/fdut/apic/tree/master/soap2json">Github</a>
      </p>
    </div>
    <hr>
    <div class="col-sm-6 usecase-main">

      <div class="usecase-entry">
        <h2 class="usecase-entry-title">Your statement</h2>
        <span class="usecase-entry-meta">POST /statement
        </span>

        <p>In this use case, the customer need to post their statement. An API is used to send value to the back-end</p>
        <hr>
        <p>
          <strong>Enter your statement</strong> and
          <strong>Clic on the 'Send' button</strong>
        </p>

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6 form-group">
              <div class="input-group">
                <span class="input-group-addon">Statement</span>
                <input type="number" class="form-control" name="statementValue" [(ngModel)]="statementValue" placeholder="Number">
              </div>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default" role="button" (click)="postStatement()">Send</button>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-body">
            <b>Result :</b>
            <br>
            <pre>{{statrespvalue | json : 12}}</pre>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error && step==1">{{error}}</div>
      </div>
      <!-- /.usecase-entry -->
      <hr>
    </div>

    <div class="col-sm-6 usecase-main">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Your list of your statements</div>
        <div class="panel-body usecase-description">
          <p>For each entry in the list clic on the red button to delete it</p>
        </div>

        <ul class="list-group">
          <div class="list-group-item" style="cursor: pointer" *ngFor="let stat of statements">
            {{ stat.doc.timestamp | date: 'EEEE, MMMM d, y, HH:mm:ss' }}
            <div class="pull-right">
              <span>{{ stat.doc.value }}</span>
              <span class="button-group">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteStatement(stat)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>

          </div>
        </ul>

      </div>

    </div>

  </div>
  <!-- /.usecase-main -->



</div>
